<div class="page-navbar w-100">
  <div class="info">
    <p class="name-page">
      <span class="space-movil">&nbsp;&nbsp;</span>{{currentPageInfo.name}}
    </p>
    <p class="description-page">
      {{currentPageInfo.description}}
    </p>
  </div>
  <div class="section-notifications">
    <div class="box-notify">
      <div class="dropdown">
        <button class="btn-notify" type="button" data-bs-toggle="dropdown" aria-expanded="false">
          <i class="fa-regular fa-bell"></i>
        </button>
        <ul class="dropdown-menu">
          <div class="header-notify">
            Notificaciones
          </div>
          <li><a class="dropdown-item" href="#">Action</a></li>
          <li><a class="dropdown-item" href="#">Another action</a></li>
          <li><a class="dropdown-item" href="#">Something else here</a></li>
        </ul>
      </div>

      <div class="box-name">
        {{initials}}
      </div>

    </div>
  </div>
</div>
