@import './../../../variables';

.page-navbar{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.name-page{
    color: $color-font;    
    font-weight: 800;
    font-size: 2em;
    margin-bottom: 0px;
}

.description-page{
    color: $color-font;
    font-size: 1.1em;
}

.box-notify{
    background-color: white;
    border-radius: 24px;
    box-shadow: 11.2px 13.6px 32px 3.2px #7090B014;
    width: fit-content;
    display: flex;
    align-items: center;
    gap: 1em;
    padding: 0.5em 0.8em;
}

.btn-notify{
    border: none;
    outline: none;
    background-color: transparent;
    color: $color-font;
    i,svg{
        font-size: 1.1em;
    }
}

.box-name{
    background-color: $color-boton;
    color: white;
    font-size: 0.9em;
    border-radius: 50%;
    width: 35px;
    height: 35px;
    display: flex;
    justify-content:center;
    align-items: center;
    font-weight: 700;
}

.dropdown-menu{
    right: 0;
    left: auto !important;
    padding-top: 0px !important;
    border-radius: 18px;
    width: 300px;
    // overflow: hidden;
}

.dropdown-menu::before{
    width: 15px;
    height: 15px;
    position: absolute;
    content: "";
    background-color: $primary-color;
    right: 0;
    rotate: 49deg;
    transform: translate(-7px, 2px);
}

.header-notify{
    width: 100%;
    background-color: $primary-color;
    text-align: center;
    color: white;
    font-size: 1.2em;
    padding: 10px;
    border-top-left-radius: 18px;
    border-top-right-radius: 10px;
}
.space-movil{
    display: none;
}
@media (max-width: 768px) {
    .page-navbar{
        display: grid;     
        grid-template-columns: 70% auto;   
        grid-template-areas: "info notify";
        align-items: flex-start;
        // transform: translateY(-20px);
    }
    .info{
        grid-area: info;
        font-size: 15px;
        transform: translateY(10px);
    }
    .description-page{
        display: none;
    }
    .section-notifications{
        display: flex;
        grid-area: notify;
        justify-content: flex-end;
    }

    .dropdown-menu{
        width: 80vw;
    }
    .name-page{
        display: flex;
    }
    .space-movil{
        display: flex;
    }
}