<form style="display: grid; gap: 2em;" action="" [formGroup]="form">
    <div class="logo">
        <img src="./assets/logo-one.webp" alt="">
    </div>
    <div class="header-form">
        <h1 class="title-form">Recuperar contraseña</h1>
        <p class="recover-pass-text">¿Ya tienes una cuenta? <span (click)="goToLogin()">Iniciar sesión</span></p>
    </div>
    @if (!sentCode) {
          <div class="alert alert-success" role="alert">
              <small>
                  Por favor, ingresa tu correo electrónico para que podamos enviarte un código de recuperación y así puedas restablecer tu contraseña.
              </small>
            </div>
          <div class="form-group">
              <label for="">Email</label>
              <input type="email" class="input-login" placeholder="Tu email aquí" required formControlName="email" autocomplete="new-user" (keyup)="cleanError()">
              <span class="icon-input">
                  <i class="fa-regular fa-envelope"></i>
              </span>             
              @if (form.get('email').errors && form.get('email').touched) {
                  @if (form.get('email').hasError('required')) {
                      <span class="msj-error"> {{'Este campo es obligatorio.'}} </span>
                  }
                  @if (form.get('email').hasError('pattern')) {
                      <span class="msj-error"> {{'Correo no válido'}} </span>
                  }
              }
          </div>
      } @else {

        <div class="form-group mt-3">
            <label for="">Código de verificación</label>
            <input type="text" inputmode="numeric" class="input-login" placeholder="Código de seguridad aquí" required formControlName="code" autocomplete="new-user" (keyup)="cleanError()">
            <span class="icon-input">
                <i class="fa-solid fa-shield"></i>
            </span>             
            @if (form.get('code').errors && form.get('code').touched) {
                @if (form.get('code').hasError('required')) {
                    <span class="msj-error"> {{'Este campo es obligatorio.'}} </span>
                }        
            }
        </div>

          <div class="form-group mt-3">
              <label for="">Contraseña</label>
              <input [type]="showPass ? 'text' : 'password'" class="input-login" placeholder="Escribe tu nueva contraseña aquí" required formControlName="password" autocomplete="new-password">
              <span class="icon-input">
                  <i class="fa-solid fa-lock"></i>
              </span>
              <span class="icon-input-rigth cursor-pointer" (click)="togglePasswordVisibility()">
                  <span class="{{!showPass ? 'd-none' : ''}}"><i class="fa-regular fa-eye-slash"></i></span>
                  <span class="{{showPass ? 'd-none' : ''}}"><i class="fa-regular fa-eye"></i></span>
              </span>                   
              @if (form.get('password').errors && form.get('password').touched) {
                  @if (form.get('password').hasError('required')) {
                      <span class="msj-error"> {{'Este campo es obligatorio.'}} </span>
                  }
              }
          </div>
          <div class="form-group mt-3">
            <label for="">Verificar contraseña</label>
            <input [type]="showPass ? 'text' : 'password'" class="input-login" placeholder="Escribe tu nueva contraseña aquí" required formControlName="vPassword" autocomplete="new-password">
            <span class="icon-input">
                <i class="fa-solid fa-lock"></i>
            </span>
            <span class="icon-input-rigth cursor-pointer" (click)="togglePasswordVisibility()">
                <span class="{{!showPass ? 'd-none' : ''}}"><i class="fa-regular fa-eye-slash"></i></span>
                <span class="{{showPass ? 'd-none' : ''}}"><i class="fa-regular fa-eye"></i></span>
            </span>                   
            @if (form.get('vPassword').errors && form.get('vPassword').touched) {
                @if (form.get('vPassword').hasError('required')) {
                    <span class="msj-error"> {{'Este campo es obligatorio.'}} </span>
                }
            }
        </div>
      }
    @if (msjError) {
        <div class="position-relative h-0 w-100">
            <p class="error w-100 text-center">
                {{msjError}}
            </p>             
        </div>
    }

    <div class="buttons mt-5">
        @if (!sentCode) {
            <button class="btn-style-1 {{spinnerLoading ? 'loading' : ''}}" (click)="sendEmail()">
                Enviar email
                @if (spinnerLoading) {
                    <span class="spinner-border spinner-border-sm" role="status"></span>
                }
            </button>
        } @else{
            <button class="btn-style-1 {{spinnerLoading ? 'loading' : ''}}" (click)="saveNewPass()">
                Guardar contraseña
                @if (spinnerLoading) {
                    <span class="spinner-border spinner-border-sm" role="status"></span>
                }
            </button>
        }
 
    </div>
</form>